@media only screen and (min-width: 768px) {
  h2 {
    font-size: 48px;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .top-menu {
    max-width: 704px;
    padding: 4px 30px;
    position: absolute;
    top: 32px;
  }

  .logo-text {
    font-size: 20px;
  }

  .top-menu > .navigation {
    display: flex;
  }

  .navigation-list-item {
    width: 90px;
  }

  .top-menu > .socmedia-list {
    display: flex;
  }

  .menu-open-btn {
    display: none;
  }

  .header-modal-menu {
    display: none;
  }

  .hero-container {
    background-image: linear-gradient(
        -0.82deg,
        rgba(17, 19, 31, 0.8) 42.62%,
        rgba(17, 19, 31, 0.31) 84.141%,
        rgba(17, 19, 31, 0) 99.969%
      ),
      url(../img/hero-img-tab.jpg);
    padding: 280px 32px 250px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          -0.82deg,
          rgba(17, 19, 31, 0.8) 42.62%,
          rgba(17, 19, 31, 0.31) 84.141%,
          rgba(17, 19, 31, 0) 99.969%
        ),
        url(../img/hero-img-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 70px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.4;
    max-width: 600px;
    margin-bottom: 48px;
  }

  .hero-btn {
    font-size: 18px;
    line-height: 1.1;
    padding: 16px 40px;
  }

  .about-us {
    margin-bottom: 150px;
  }

  .about-us-text {
    gap: 50px;
    padding: 50px 32px;
  }

  .about-us-title {
    max-width: 536px;
    margin: 0;
  }

  .about-us-text-first {
    font-size: 23px;
  }

  .about-us-text-second {
    font-size: 13px;
    line-height: 1.15;
  }

  .our-yachts {
    margin-bottom: 150px;
  }

  .our-yachts-title {
    max-width: 645px;
    margin-bottom: 75px;
  }

  .our-yachts-list {
    margin-bottom: 50px;
    display: flex;
    gap: 32px;
  }

  .our-yachts-list-item {
    width: calc((100% - 32px) / 2);
  }

  .item-second {
    display: block;
  }

  .truncate {
    margin: 0;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 148px;
  }

  .our-yacht-name {
    font-size: 16px;
    line-height: 1.2;
  }

  .our-yacht-type {
    font-size: 13px;
    line-height: 1.18;
  }

  .our-yachts-link-btn {
    font-size: 18px;
    line-height: 1.1;
    padding: 16px 40px;
    width: 180px;
    height: 52px;
  }

  .advantages {
    margin-bottom: 150px;
  }

  .advantages-container {
    gap: 32px;
  }

  .advantages-wrap {
    padding: 90px 32px;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px 32px;
  }

  .advantages-list-item {
    width: calc((100% - 32px) / 2);
  }

  .advantages-number {
    font-size: 32px;
  }

  .advantages-text {
    font-size: 13px;
  }

  .rent-a-yacht {
    margin-bottom: 150px;
  }

  .rent-a-yacht-container {
    gap: 100px;
  }

  .rent-a-yacht-form-wrap {
    padding: 0 116px;
  }

  .rent-a-yacht-title {
    margin-bottom: 50px;
  }

  .rent-a-yacht-form {
    width: 472px;
  }

  .form-fields {
    margin-bottom: 50px;
  }

  .form-input {
    height: 54px;
    padding: 18px;
  }

  .form-input::placeholder {
    font-size: 14px;
    line-height: 1.28;
  }

  .text-area-input {
    height: 116px;
  }

  .send-form-btn {
    padding: 18px 75px;
    font-size: 18px;
    line-height: 1.1;
  }

  .reviews {
    margin-bottom: 150px;
  }

  .reviews-text {
    max-width: 570px;
    font-size: 14px;
    line-height: 1.29;
    margin: 0 auto 75px;
    text-align: center;
  }

  .reviews-list {
    display: flex;
    gap: 32px;
  }

  .reviews-list-item {
    width: calc((100% - 32px) / 2);
  }

  .review-second {
    display: block;
  }

  .footer > .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .footer-container {
    gap: 95px;
    padding: 50px 48px 20px;
  }

  .footer-info {
    gap: 0;
    justify-content: space-between;
  }

  .footer-text {
    max-width: 640px;
    font-size: 32px;
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .top-menu {
    max-width: 1080px;
  }

  .hero-container {
    background-image: linear-gradient(
        -0.82deg,
        rgba(17, 19, 31, 0.8) 42.62%,
        rgba(17, 19, 31, 0.31) 84.141%,
        rgba(17, 19, 31, 0) 99.969%
      ),
      url(../img/hero-img-desktop.jpg);
    padding: 235px 140px 180px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          -0.82deg,
          rgba(17, 19, 31, 0.8) 42.62%,
          rgba(17, 19, 31, 0.31) 84.141%,
          rgba(17, 19, 31, 0) 99.969%
        ),
        url(../img/hero-img-desktop-2x.jpg);
    }
  }

  .hero-title {
    font-size: 80px;
  }

  .about-us-text {
    flex-direction: row;
    gap: 189px;
    padding: 50px 50px 100px;
  }

  .about-us-text-paragraphs {
    max-width: 354px;
  }

  .our-yachts-title {
    max-width: 714px;
  }

  .our-yachts-list {
    gap: 25px;
  }

  .our-yachts-list-item {
    width: calc((100% - 25px * 2) / 3);
  }

  .item-third {
    display: block;
  }

  .advantages-container {
    flex-direction: row;
  }

  .advantages-wrap {
    padding: 90px 50px;
    max-width: 716px;
  }

  .advantages-list {
    gap: 44px;
  }

  .advantages-list-item {
    width: calc((100% - 44px) / 2);
  }

  .rent-a-yacht-container {
    flex-direction: row;
    gap: 50px;
  }

  .rent-a-yacht-pic {
    order: 1;
  }

  .rent-a-yacht-form-wrap {
    padding: 0;
    order: 2;
  }

  .reviews-title {
    max-width: 854px;
  }

  .reviews-list {
    gap: 26px;
  }

  .reviews-list-item {
    width: calc((100% - 26px * 2) / 3);
  }

  .review-third {
    display: block;
  }

  .footer > .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .footer-container {
    padding: 50px 75px 20px;
  }

  .footer-text {
    max-width: 695px;
    margin: 0 auto 100px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .top-menu {
    max-width: 1240px;
  }

  .hero-container {
    background-image: linear-gradient(
        -0.82deg,
        rgba(17, 19, 31, 0.8) 42.62%,
        rgba(17, 19, 31, 0.31) 84.141%,
        rgba(17, 19, 31, 0) 99.969%
      ),
      url(../img/hero-img-desktop-expanded.jpg);
    padding: 235px 220px 180px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          -0.82deg,
          rgba(17, 19, 31, 0.8) 42.62%,
          rgba(17, 19, 31, 0.31) 84.141%,
          rgba(17, 19, 31, 0) 99.969%
        ),
        url(../img/hero-img-desktop-expanded-2x.jpg);
    }
  }

  .about-us-text {
    gap: 300px;
  }

  .about-us-text-paragraphs {
    max-width: 404px;
  }

  .our-yachts-list {
    gap: 32px;
  }

  .our-yachts-list-item {
    width: calc((100% - 32px * 2) / 3);
  }

  .our-yachts > .container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .advantages-wrap {
    max-width: 768px;
  }

  .advantages-list {
    gap: 44px 32px;
  }

  .advantages-list-item {
    width: calc((100% - 32px) / 2);
  }

  .reviews-list {
    gap: 32px;
  }

  .reviews-list-item {
    width: calc((100% - 32px * 2) / 3);
  }
}
