h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Inter", sans-serif;
  color: #fbfbfb;
  background: #0e1823;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin: 0 auto;
  text-align: center;
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbfbfb;
  border: 1px solid#fbfbfb;
  border-radius: 8px;
  width: 100%;
  max-width: 335px;
  padding: 7px 20px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.logo-text {
  color: rgb(27, 65, 75);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}

.navigation-list {
  display: flex;
  gap: 4px;
}

.navigation-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 40px;
  border-radius: 8px;
  color: #fbfbfb;
  background: rgba(27, 65, 75, 0.5);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-item:hover,
.navigation-list-item:focus {
  background-color: #1b414b;
}

.navigation-link {
  font-size: 9px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: uppercase;
}

.socmedia-list {
  display: flex;
  gap: 8px;
}

.soc-media-icon {
  fill: #1b414b;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-media-icon:hover,
.soc-media-icon:focus {
  fill: #062730;
}

.top-menu > .navigation {
  display: none;
}

.top-menu > .socmedia-list {
  display: none;
}

.menu-open-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.menu-open-icon {
  stroke: #1b414b;
}

.header-modal-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #0e1823;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 260px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.menu-close-icon {
  fill: #055545;
}

.modal-navigation-list {
  flex-direction: column;
  gap: 4px;
}

.modal-navigation-list-item {
  width: 91px;
  background: rgba(27, 65, 75, 0.5);
}

.modal-navigation-list-item:hover,
.modal-navigation-list-item:focus {
  background-color: #1b414b;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.hero-container {
  background-image: linear-gradient(
      -0.82deg,
      rgba(17, 19, 31, 0.8) 42.62%,
      rgba(17, 19, 31, 0.31) 84.141%,
      rgba(17, 19, 31, 0) 99.969%
    ),
    url(../img/hero-img-mob.jpg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 260px 20px;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(
        -0.82deg,
        rgba(17, 19, 31, 0.8) 42.62%,
        rgba(17, 19, 31, 0.31) 84.141%,
        rgba(17, 19, 31, 0) 99.969%
      ),
      url(../img/hero-img-mob-2x.jpg);
  }
}

.hero-title {
  color: rgb(251, 251, 251);
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 24px;
}

.hero-text {
  color: rgba(251, 251, 251, 0.7);
  font-size: 12px;
  font-weight: 300;
  line-height: 1.16;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 38px;
}

.hero-btn {
  margin: 0 auto;
  border-radius: 15px;
  background: #1b414b;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.02em;
  padding: 14px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background: #fbfbfb;
  color: #1b414b;
}

.about-us {
  margin-bottom: 80px;
}

.about-us-container {
  width: 100%;
  border-radius: 24px;
  background: rgb(251, 251, 251);
}

.about-us-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
}

.about-us-title {
  color: rgb(27, 65, 75);
  text-align: start;
}

.about-us-text-first {
  color: rgb(27, 65, 75);
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.about-us-text-second {
  color: rgb(4, 3, 6, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.02em;
}

.about-us-pic {
  border-radius: 24px;
}

.our-yachts {
  margin-bottom: 80px;
}

.our-yachts-title {
  max-width: 319px;
  margin-bottom: 40px;
}

.our-yachts-list {
  margin-bottom: 40px;
}

.our-yachts-list-item {
  width: 100%;
  border-radius: 24px;
  background-color: #fbfbfb;
  padding: 16px;
}

.item-second {
  display: none;
}

.item-third {
  display: none;
}

.our-yachts-list-content {
  padding: 32px 16px 16px;
}

.our-yacht-description {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 32px;
}

.our-yacht-description::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  height: 1px;
  background-color: rgba(4, 3, 6, 0.1);
  border-radius: 1px;
  width: 100%;
}

.our-yacht-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
}

.our-yacht-type {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
  flex-shrink: 0;
}

.our-yacht-characteristics {
  display: flex;
  justify-content: space-between;
}

.item-categories {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.text-categories-yacht {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}

.item-responses {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.text-categories-response {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #040306;
}

.our-yachts-link-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  padding: 14px 32px;
  width: 143px;
  height: 46px;
  background-color: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-yachts-link-btn:hover,
.our-yachts-link-btn:focus {
  background-color: #fbfbfb;
  color: #1b414b;
  border: #fbfbfb;
}

.advantages {
  margin-bottom: 80px;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advantages-wrap {
  border-radius: 24px;
  background: rgb(27, 65, 75);
  padding: 80px 20px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.advantages-list-item {
  width: 100%;
}

.advantages-number {
  margin-bottom: 38px;
  position: relative;
  color: rgb(251, 251, 251);
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.05em;
}

.advantages-number::after {
  position: absolute;
  left: 0;
  bottom: -18px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fbfbfb1a;
  border-radius: 18px;
}

.advantages-text {
  color: rgb(251, 251, 251, 0.8);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.02em;
}

.advantages-pic {
  max-width: 100%;
  border-radius: 24px;
}

.rent-a-yacht {
  margin-bottom: 80px;
}

.rent-a-yacht-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.rent-a-yacht-title {
  text-align: start;
  margin-bottom: 40px;
}

.rent-a-yacht-form {
  width: 100%;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 40px;
}

.form-input {
  outline: transparent;
  width: 100%;
  height: 42px;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  padding: 14px 18px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

.form-input:focus {
  border: solid 1px #fbfbfb;
}

.form-input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  color: rgba(251, 251, 251, 0.4);
}

.text-area-input {
  height: 108px;
  resize: none;
}

.send-form-btn {
  background-color: rgb(27, 65, 75);
  border: none;
  border-radius: 15px;
  padding: 14px 44px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.02em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form-btn:hover,
.send-form-btn:focus {
  background: #fbfbfb;
  color: #1b414b;
}

.rent-a-yacht-pic {
  max-width: 100%;
  border-radius: 24px;
}

.reviews {
  margin-bottom: 80px;
}

.reviews-title {
  margin-bottom: 25px;
}

.reviews-text {
  color: rgb(251, 251, 251, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 40px;
}

.reviews-list-item {
  width: 100%;
  border-radius: 24px;
  background: rgb(251, 251, 251);
  padding: 32px 8px;
}

.review-second {
  display: none;
}

.review-third {
  display: none;
}

.reviews-pic {
  margin: 0 auto;
  margin-bottom: 24px;
}

.reviews-customer-name {
  color: rgb(4, 3, 6);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.reviews-customer-text {
  padding: 0 8px;
  color: rgba(4, 3, 6, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
}

.footer > .container {
  padding-left: 10px;
  padding-right: 10px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 24px 24px 0px 0px;
  background: rgb(27, 65, 75);
  padding: 40px 30px 20px;
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px 37px;
  flex-wrap: wrap;
}

.footer-info > .logo-text {
  color: #fbfbfb;
}

.footer-navigation-list-item {
  background: rgba(251, 251, 251, 0.3);
}

.footer-navigation-list-item:hover,
.footer-navigation-list-item:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

.white-soc-media-icon {
  fill: #fbfbfb;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.white-soc-media-icon:hover,
.white-soc-media-icon:focus {
  fill: #fbfbfbcc;
}

.footer-text {
  max-width: 280px;
  color: #fbfbfb;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 82px;
}

.footer-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer-list-text {
  color: rgba(251, 251, 251, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
